.display
  .logo
    %h1 Cornerkick
  .header
    %p I'm the header
  .sidebar
    %nav
      %ul
        %li
          %a{href: '#'}
            %i.fas.fa-ice-cream
            Dashboard
        %li
          %a{href: '#'}
            %i.fas.fa-hand-spock
            Pages
        %li
          %a.open{href: '#'}
            %i.fas.fa-users
            Visitors
  .content
    %p I'm the content
    %p Find me in app/views/mockup/mockup.html.haml
  .footer
    %p I'm the footer