.display
  .logo
    %h1 Cornerkick
  .header
    %p I'm the header
  .sidebar
    %nav
      %ul
        %li{href: '#'}
          %a
            Dashboard
        %li
          %a{href: '#'}
            Pages
        %li
          %a.open{href: '#'}
            Visitors
  .content
    %p I'm the content
    %p Find me in app/views/mockup/mockup.html.haml
  .footer
    %p I'm the footer