.display
  .logo
    %h1 Cornerkick
  .header
    %p I'm the header
  .sidebar
    %p I'm the sidebar
  .content
    %p I'm the content
    %p Find me in app/views/mockup/mockup.html.haml
  .footer
    %p I'm the footer