%li.nav-title
  %i.fa.fa-bullseye.fa-lg
  Cornerkick
%li.nav-title
  %i.fa.fa-bullseye.fa-lg
  Admin
%li.nav-item
  %a.nav-link{href: admin_accounts_path}
    %i.fa.fa-tachometer
    Accounts
%li.nav-item
  %a.nav-link{href: admin_groups_path}
    %i.fa.fa-tachometer
    Groups
%li.nav-item
  %a.nav-link{href: admin_trackers_path}
    %i.fa.fa-tachometer
    Trackers
%li.nav-item
  %a.nav-link{href: admin_contacts_path}
    %i.fa.fa-user
    Contacts
%li.nav-item
  %a.nav-link{href: admin_users_path}
    %i.fa.fa-user
    Users
%li.divider
