- content_for :breadcrumb do
  - cache ['campaign-source-breadcrumb', @campaign] do
    = render 'breadcrumb'

- content_for :sidebar_nav do
  - cache ['main_sidebar_nav', @current_account] do
    = render 'shared/main_sidebar_nav'


- cache ['account-campaign-campaign-sources-index', @campaign_sources] do
  #campaign-sources-index
    .row
      .col-md-12
        .card.card-accent-success
          .card-block
            %table#campaign-sources.table.table-striped.table-hover.ml-auto
              %thead
                %tr
                  %th Name
                  %th

              %tbody
                - @campaign_sources.each do |source|
                  %tr
                    %td= link_to source.name, account_campaign_campaign_source_path(source.account, source.campaign, source)
                    %td
                      %a{href: edit_account_campaign_campaign_source_path(source.account, source.campaign, source)}
                        %i.fa.fa-lg.fa-pencil-square-o
                      %a{href: account_campaign_campaign_source_path(source.account, source.campaign, source), data: { confirm: 'Are you sure?', method: :delete } }
                        %i.fa.fa-lg.fa-minus-square-o
