%ol.breadcrumb
  %li.breadcrumb-item= @campaign.account.name
  %li.breadcrumb-item= link_to 'Campaigns', account_campaigns_path(@campaign.account)
  %li.breadcrumb-item= link_to @campaign.name, account_campaign_path(@campaign.account, @campaign)
  %li.breadcrumb-item Campaign URLs
