- content_for :breadcrumb do
  %ol.breadcrumb
    %li.breadcrumb-item Cornerkick
    %li.breadcrumb-item
      %a{href: admin_trackers_path} Trackers

    %li.breadcrumb-menu
      .btn-progression
        %a.btn.btn-secondary{href: new_admin_tracker_path}
          %i.fa.fa-user-plus
          Create Tracker

- content_for :sidebar_nav do
  - cache 'admin_sidebar_nav' do
    = render 'admin/admin_sidebar_nav'

-# content_for :sidebar_subnav do

#trackers-new
  .row
    .col-md-6
      .card.card-accent-success
        .card-header
          New Tracker
        .card-block
          = render 'form'
